<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER PAGE</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<style>
    select {
        appearance: button;
    }

    .col-sm-3 {
        margin-top: 1em;
    }

    body {
        background-color: #FFFFFF;
    }

    .card {
        background-color: #2b402b;
        color: #FFFFFF;
    }

    .text-muted {
        color: #c7cfd7 !important;
    }

    .bg-dark {
        background-color: #2b402b !important;
    }
</style>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/shoplist">
        HOME
    </a>
    <a class="navbar-brand" href="/reserve">
        Reservations
      </a>
</nav>

<body>

    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <h1><%-locals.shop.sname%></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5><%-locals.shop.address%></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5><%-locals.shop.description%></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 id="timings"></h5>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="text/html" action="/shop">
                    <div class="form-row">

                        <div class="col form-group">
                            <label for="hours">Time Slots </label>
                            <select name="hours" class="form-control" id="hours">
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="form-control btn btn-light btn-lg btn-block">RESERVE</button>
                </form>
            </div>
        </div>

    </div>
    <script>
        let selectHours = document.getElementById("hours")
            
        
        <% locals.shop.slots.forEach((item,index)=>{ %>
            s = document.createElement('option')
            s.value = "<%- item["start-slot"]%>"
            s.innerHTML = "<%-item["start-slot"]%>"
            selectHours.appendChild(s)
        <%})%>
       
        document.getElementById("timings").innerHTML = "Open from " + selectHours.firstElementChild.innerHTML + " - " + selectHours.lastElementChild.innerHTML




    </script>
</body>

</html>